.cookie-column {
    background: cyan;
    background-image: url('../images/bg.png');
    background-position: center;
    /* background-size: cover; */
    flex: 1;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.bakery-info {
    margin: 1rem;
    width: 100%;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bakery-name {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    transition: font-size 500ms;
}

.bakery-name:hover {
    font-size: 2.1rem;
}

.cookie-info {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

#cookie {
    width: 250px;
    height: 250px;
    background-image: url('../images/cookie.png');
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 500ms;
}

#cookie:hover {
    transform:scale(1.1);
}

#cookie:active {
    transform: scale(1.2);
}