:root {
    --danger: #E23C47;
    --primary: #5C66D6;
}

.btn {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: white;
}

.btn.btn-primary {
    background: var(--primary);
}

.btn.btn-danger {
    background: var(--danger);
}