:root {
    --shadow-color: #99d98c;
    --item-color: #b5e48c;
}
.info {
    display: flex;
    text-align: center;
}

.store-item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid black;
    background: var(--item-color);
    transition: box-shadow 500ms;
}

.store-item:hover {
    box-shadow: 0 150px var(--shadow-color) inset;
}

.store-item:first-child {
    border-top: 1px solid black;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.item-name {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.item-price {
    font-size: 1.2rem;
}

.item-count {
    font-size: 2rem;
}

.buy-sell-info {
    margin-right: 1rem;
}